<section class="section">
  <div class="container">
    <% if @plays.any? %>
      <div class="table-container is-hidden-touch">
        <table class="table is-fullwidth is-striped is-hoverable is-narrow">
          <thead>
          <tr>
            <th class="has-text-centered">Numer gry</th>
            <th class="has-text-centered">Miesiąc gry</th>
            <th class="has-text-centered">Ilość graczy</th>
            <th class="has-text-centered">Zadowolenie społeczne</th>
            <th class="has-text-centered">Rezultat</th>
          </tr>
          </thead>
          <tbody>
          <% @plays.each do |play| %>
            <tr class="color-background-on-hover has-text-centered">
              <td>
                <% if play.is_tournament? %>
                  <span class="tag is-success is-light">Turniejowa</span>
                <% else %>
                  <span class="tag is-light">Rozgrzewkowa</span>
                <% end %>
                <br>
                <%= play.name || play.id %>
              </td>
              <td><%= play.name_of_current_month %></td>
              <td><%= play.users.count %></td>
              <td><%= play.social_satisfaction.round(2).to_s.gsub('.', ',') %>%</td>
              <td>
                <% if play.result == "win" %>
                  <%= icon_tag("face-smile", options: { class: "is-success" }) %>
                <% elsif play.result == "defeat" %>
                  <%= icon_tag("face-frown", options: { class: "is-danger" }) %>
                <% end %>
                <%= play.decorate.name_of_result %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div class="is-hidden-desktop">
        <% @plays.each do |play| %>
          <div class="box mb-4">
            <p style="text-align: center">
              <% if play.is_tournament? %>
                <span class="tag is-success is-light">Turniejowa</span>
              <% else %>
                <span class="tag is-light">Rozgrzewkowa</span>
              <% end %>
            </p>
            <p><strong>Numer gry:</strong> <%= play.name || play.id %></p>
            <p><strong>Miesiąc gry:</strong> <%= play.name_of_current_month %></p>
            <p><strong>Ilość graczy:</strong> <%= play.users.count %></p>
            <p><strong>Zadowolenie społeczne:</strong> <%= play.social_satisfaction.round(2).to_s.gsub('.', ',') %>%</p>
            <p><strong>Rezultat:</strong>
              <% if play.result == "win" %>
                <%= icon_tag("face-smile", options: { class: "is-success" }) %>
              <% elsif play.result == "defeat" %>
                <%= icon_tag("face-frown", options: { class: "is-danger" }) %>
              <% end %>
              <%= play.decorate.name_of_result %>
            </p>
          </div>
        <% end %>
      </div>

    <% else %>
      <div class="is-fullwidth has-text-centered">
        <p>Nie znaleziono zakończonych rozgrywek.</p>
      </div>
    <% end %>
  </div>
</section>
