<section class="section">
  <div class="container">
    <% if @plays.any? %>
      <div class="is-fullwidth columns has-text-centered is-flex is-vcentered">
        <div class="column">
          Numer gry
        </div>
        <div class="column">
          Miesiąc gry
        </div>
        <div class="column">
          Ilość graczy
        </div>
        <div class="column">
          Zadowolenie społeczne
        </div>
        <div class="column">
        </div>
      </div>
      <% @plays.each do |play| %>
        <div class="is-fullwidth columns has-text-centered color-background-on-hover is-flex is-vcentered">
          <div class="column">
            <%= play.id %>
          </div>
          <div class="column">
            <%= play.name_of_current_month %>
          </div>
          <div class="column">
            <%= play.users.count %>
          </div>
          <div class="column">
            <%= play.social_satisfaction.round(2).to_s.gsub('.', ',') %>%
          </div>
          <div class="column">
            <% if play.result == "win" %>
              <%= icon_tag("face-smile", options: { class: "is-success" }) %>
            <% elsif play.result == "defeat" %>
              <%= icon_tag("face-frown", options: { class: "is-danger" }) %>
            <% end %>
            <%= play.decorate.name_of_result %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="is-fullwidth has-text-centered">
        <p>
          Nie znaleziono zakończonych rozgrywek.</p>
      </div>
    <% end %>
  </div>
</section>
