<section class="section">
  <div class="container">
    <% if @plays.any? %>
      <div class="table-container is-hidden-touch">
        <table class="table is-fullwidth is-striped is-hoverable is-narrow">
          <thead>
          <tr>
            <th class="has-text-centered">Numer gry</th>
            <th class="has-text-centered">Miesiąc gry</th>
            <th class="has-text-centered">Ilość graczy</th>
            <th class="has-text-centered">Zadowolenie społeczne</th>
            <th class="has-text-centered"></th>
          </tr>
          </thead>
          <tbody>
          <% @plays.each do |play| %>
            <tr class="has-text-centered color-background-on-hover">
              <td>
                <% if play.is_tournament? %>
                  <span class="tag is-success is-light">Turniejowa</span>
                <% else %>
                  <span class="tag is-light">Rozgrzewkowa</span>
                <% end %>
                <br>
                <%= play.name || play.id %>
              </td>
              <td><%= play.name_of_current_month %></td>
              <td><%= play.users.count %></td>
              <td><%= play.social_satisfaction.round(2).to_s.gsub('.', ',') %>%</td>
              <td>
                <%= link_to play_path(play), class: "button is-success is-small" do %>
                  <%= icon_tag("arrow-left-end-on-rectangle", options: { class: "menu-icon" }) %> Wejdź
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div class="is-hidden-desktop">
        <% @plays.each do |play| %>
          <div class="box mb-3">
            <p style="text-align: center">
              <% if play.is_tournament? %>
                <span class="tag is-success is-light">Turniejowa</span>
              <% else %>
                <span class="tag is-light">Rozgrzewkowa</span>
              <% end %>
            </p>
            <p><strong>Numer gry:</strong> <%= play.name || play.id %></p>
            <p><strong>Miesiąc gry:</strong> <%= play.name_of_current_month %></p>
            <p><strong>Ilość graczy:</strong> <%= play.users.count %></p>
            <p><strong>Zadowolenie społeczne:</strong> <%= play.social_satisfaction.round(2).to_s.gsub('.', ',') %>%</p>
            <div class="mt-3 has-text-right">
              <%= link_to play_path(play), class: "button is-success is-small" do %>
                <%= icon_tag("arrow-left-end-on-rectangle", options: { class: "menu-icon" }) %> Wejdź
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="columns">
        <div class="column is-12 has-text-centered">
          <p>Nie znaleziono żadnych aktywnych rozgrywek, możesz zacząć nową klikając poniższy przycisk.</p>
        </div>
      </div>
    <% end %>

    <% if Setting.first.is_tournament_time? || current_user.allowed_to_create_tournament_new_game? %>
      <div class="columns">
        <div class="column is-12 has-text-centered">
          <%= button_to new_tournament_play_path, method: :get, class: "button is-success", data: { turbo: false } do %>
                      <%= icon_tag("plus", options: { class: "menu-icon" }) %> Stwórz grę turniejową
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="columns">
      <div class="column is-12 has-second-background-color has-text-centered">
        <p><b>Dziennik aktualizacji</b></p>
        <p>W ramach gry została zmiejszona dostępna rezerwa budżetowa do 500 milionów zł oraz wprowadzono mechanizmy
          balansujące rozgrywkę.</p>
        <p>Spróbuj swoich sił w ramach nowej gry klikając link poniżej.</p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12 has-text-centered">
        <%= button_to plays_path, method: :post, class: "button is-#{current_user.allowed_to_create_tournament_new_game? || @plays.any? ? 'light' : 'success'}", data: { turbo: false } do %>
          <%= icon_tag("plus", options: { class: "menu-icon" }) %> Stwórz grę rozgrzewkową
        <% end %>
      </div>
    </div>

    <% if @invitations.any? %>
      <div class="mt-6">
        <% @invitations.each do |i| %>
          <div class="box has-text-centered">
            <p>
              <% if i.play.is_tournament? %>
                <span class="tag is-success is-light">Turniejowa</span>
              <% else %>
                <span class="tag is-light">Rozgrzewkowa</span>
              <% end %>
            </p>
            <p>
              Zaproszenie do gry nr <%= i.play.name || i.play.id %> od gracza
              <%= link_to profile_path(i.invitor) do %>
                <%= i.invitor.name %>
              <% end %>
            </p>
            <%= form_with url: play_accept_invitation_path(i.play), method: :post do |f| %>
              <%= f.submit "Dołącz do gry", class: "button is-success mt-2 has-text-centered" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="has-text-centered mt-4">
      <%= button_to archived_plays_path, method: :get, class: "button is-light", data: { turbo: false } do %>
        <%= icon_tag("archive-box", options: { class: "menu-icon" }) %> Zakończone gry
      <% end %>
    </div>
  </div>
</section>
