<section class="section">
  <div class="container">
    <% if @plays.any? %>
      <div class="is-fullwidth columns has-text-centered is-flex is-vcentered">
        <div class="column">
          Numer gry
        </div>
        <div class="column">
          Miesiąc gry
        </div>
        <div class="column">
          Ilość graczy
        </div>
        <div class="column">
          Zadowolenie społeczne
        </div>
        <div class="column">
        </div>
      </div>
      <% @plays.each do |play| %>
        <div class="is-fullwidth columns has-text-centered color-background-on-hover is-flex is-vcentered">
          <div class="column">
            <%= play.id %>
          </div>
          <div class="column">
            <%= play.name_of_current_month %>
          </div>
          <div class="column">
            <%= play.users.count %>
          </div>
          <div class="column">
            <%= play.social_satisfaction.round(2).to_s.gsub('.', ',') %>%
          </div>
          <div class="column">
            <%= link_to play_path(play), class: "button is-success" do %>
              <%= icon_tag("arrow-left-end-on-rectangle", options: { class: "menu-icon" }) %> Wejdź do gry
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="is-fullwidth has-text-centered">
        <%= button_to plays_path, method: :post, class: "button is-light mt-4", data: { turbo: false } do %>
          <%= icon_tag("plus", options: { class: "menu-icon" }) %> Stwórz nową grę
        <% end %>
      </div>
    <% else %>
      <div class="is-fullwidth has-text-centered">
        <p>
          Nie znaleziono żadnych aktywnych rozgrywek, możesz zacząć nową klikając poniższy
          przycisk.</p>
        <%= button_to plays_path, method: :post, class: "button is-success mt-4", data: { turbo: false } do %>
          <%= icon_tag("plus", options: { class: "menu-icon" }) %> Stwórz nową grę
        <% end %>
      </div>
    <% end %>
    <% if @invitations.any? %>
      <div class="is-fullwidth has-text-centered">
        <% if @invitations.each do |i| %>
          <div class="box">
            Zaproszenie do gry nr <%= i.play.id %> od gracza <%= link_to profile_path(i.invitor) do
            i.invitor.name
          end %>
            <%= form_with url: play_accept_invitation_path(i.play), method: :post do |f| %>
              <%= f.submit "Dołącz do gry", class: "button is-success mt-2" %>
            <% end %>
          </div>
        <% end %>
          </div>
        <% end %>
    <% end %>
    <div class="is-fullwidth has-text-centered">
      <%= button_to archived_plays_path, method: :get, class: "button is-light mt-4", data: { turbo: false } do %>
        <%= icon_tag("archive-box", options: { class: "menu-icon" }) %> Zakończone gry
      <% end %>
    </div>
  </div>
</section>
