<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h2 class="title is-5 has-text-centered">
          Zmiany do wydarzeń
        </h2>
        <p>
          <%= link_to info_changes_path do %>
            Jak dokonywać zmian? - Instrukcja
          <% end %>
        </p>

        <p>Obecnie istnieje <%= @events.count %> zdarzeń, które mogą wystąpić w grze.</p>

        <div class="is-fullwidth mt-2 mb-2" style="justify-items: center;">
          <%= button_to new_change_path,
                        method: :get,
                        class: "button is-success is-flex is-vcentered",
                        data: {
                          turbo: false,
                        } do %>
            <%= icon_tag("plus-circle", options: { class: "menu-icon" }) %> Dodaj propozycję nowego wydarzenie
          <% end %>
        </div>

        <table style="width: 100%; border-collapse: separate; border-spacing: 0 6px;">
          <% @events.each_with_index do |event| %>
            <tbody class="color-background-on-hover">
            <tr>
              <td>
                <strong><%= event.title %></strong>
              </td>
              <td>
                <%= link_to change_path(event), class: "button is-light" do %>
                  Szczegóły
                <% end %>
              </td>
            </tr>
            </tbody>
          <% end %>
        </table>

        <hr/>

        <%= form_with model: ChangeProposal.new, url: changes_path, method: :post, local: true do |f| %>
          <%= render 'shared/wysiwyg', form: f, title: "Ogólny pomysł na zmianę", field_name: :content, value: "" %>

          <div class="field mt-4">
            <div class="control">
              <%= f.submit "Wyślij propozycję", class: "button is-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
