<%= render 'shared/admins' do %>
  <section class="section">
    <h2 class="title is-5 has-text-centered">Tabela wydarzeń</h2>

    <div class="container is-hidden-touch">
      <table style="width: 100%; border-collapse: separate; border-spacing: 0 6px;">
        <thead>
        <tr>
          <th>Częstotliwość</th>
          <th>Tytył</th>
          <th>Zmiana rezerwy</th>
          <th colspan="2" class="has-text-centered">Zmiana oczekiwanego budżetu</th>
          <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <% @events.each do |event| %>
          <tr class="color-background-on-hover">
            <td><%= event.frequency %></td>
            <td><p><%= event.title %></p></td>
            <td>
              <% if event.budget_reserve_change != 0 %>
                <%= icon_tag(event.need_increase_budget_reserve == false ? "minus-circle" : "plus-circle", options: { class: "#{event.need_increase_budget_reserve == false ? "is-danger" : "is-success"}" }) %>
                <span><%= event.decorate.formatted_budget_reserve_change %></span>
              <% else %>
                -
              <% end %>
            </td>
            <td><%= event.budget_name %></td>
            <td>
              <% if event.budget_change != 0 %>
                <%= icon_tag(event.is_adding_to_budget == false ? "minus-circle" : "plus-circle", options: { class: "#{event.is_adding_to_budget == false ? "is-success" : "is-danger"}" }) %>
                <span><%= event.decorate.formatted_budget_change %></span>
              <% else %>
                -
              <% end %>
            </td>
            <td>
              <%= link_to edit_admin_event_path(event), class: "button is-light" do %>
                <%= icon_tag("pencil-square", options: { class: "menu-icon" }) %> Edycja
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="is-hidden-desktop">
      <% @events.each do |event| %>
        <div class="box mb-3">
          <p><strong>Częstotliwość:</strong> <%= event.frequency %></p>
          <p><strong>Tytuł:</strong> <%= event.title %></p>
          <p>
            <strong>Zmiana rezerwy:</strong>
            <% if event.budget_reserve_change != 0 %>
              <%= icon_tag(event.need_increase_budget_reserve == false ? "minus-circle" : "plus-circle", options: { class: "#{event.need_increase_budget_reserve == false ? "is-danger" : "is-success"}" }) %>
              <span><%= event.decorate.formatted_budget_reserve_change %></span>
            <% else %>
              -
            <% end %>
          </p>
          <p><strong>Zmiana oczekiwanego budżetu:</strong></p>
          <ul style="margin-left: 1rem;">
            <li><strong>Nazwa budżetu:</strong> <%= event.budget_name %></li>
            <li>
              <% if event.budget_change != 0 %>
                <%= icon_tag(event.is_adding_to_budget == false ? "minus-circle" : "plus-circle", options: { class: "#{event.is_adding_to_budget == false ? "is-success" : "is-danger"}" }) %>
                <span><%= event.decorate.formatted_budget_change %></span>
              <% else %>
                -
              <% end %>
            </li>
          </ul>
          <p>
            <%= link_to edit_admin_event_path(event), class: "button is-light is-small" do %>
              <%= icon_tag("pencil-square", options: { class: "menu-icon" }) %> Edycja
            <% end %>
          </p>
        </div>
      <% end %>
    </div>

    <p class="has-text-centered mt-4">
      <%= link_to new_admin_event_path, class: "button is-success" do %>
        <%= icon_tag("plus-circle", options: { class: "menu-icon" }) %> Dodaj kolejne
      <% end %>
    </p>
  </section>
<% end %>
