<%= render 'shared/admins' do %>
  <section class="section">
    <div class="container">
      <div class="box mb-5 has-text-centered">
        <% if @play.is_tournament? %>
          <p><span class="tag is-success is-light">Turniejowa</span></p>
        <% else %>
          <p><span class="tag is-light">Rozgrzewkowa</span></p>
        <% end %>
        <p><%= @play.name || @play.id %></p>
        <p><strong>Obecny miesiąc:</strong> <%= @play.name_of_current_month %></p>
        <p><strong>Zadowolenie społeczne:</strong> <%= @play.social_satisfaction %>%</p>
        <p><strong>Rezerwa budżetowa:</strong> <%= @play.decorate.formatted_budget_reserve %></p>

        <p><strong>Rezultat:</strong>
          <% if @play.result == "win" %>
            <%= icon_tag("face-smile", options: { class: "is-success" }) %>
          <% elsif @play.result == "defeat" %>
            <%= icon_tag("face-frown", options: { class: "is-danger" }) %>
          <% end %>
          <%= @play.decorate.name_of_result %>
        </p>
      </div>
      <div class="box mb-5">
        <p class="has-text-centered"><strong>Gracze:</strong></p>
        <% @play.users.each do |u| %>
          <p><%= link_to admin_user_path(u) do %><%= u.name %>
            <% end %></p>
        <% end %>
      </div>
      <div class="box mb-5">
        <p class="has-text-centered"><strong>Wydarzenia:</strong></p>
        <table>
          <% @play.play_events.each do |pe| %>
            <tr>
              <td>
                <%= pe.decorate.name_of_month %>
              </td>
              <td>
                <% outcome = pe.outcome %>
                <% icon_name = if outcome == "positive"
                                 "face-smile"
                               elsif outcome == "negative"
                                 "face-frown"
                               else
                                 "face-meh"
                               end %>
                <% icon_class = if outcome == "positive"
                                  "has-text-success"
                                elsif outcome == "negative"
                                  "has-text-danger"
                                else
                                  "has-text-grey"
                                end %>
                <span class="icon <%= icon_class %> ml-2" style="flex-shrink: 0;"><%= icon_tag(icon_name) %></span>
              </td>
              <td>
                <% if pe.event.budget_reserve_change != 0 %>
                  <% if pe.event.need_increase_budget_reserve %>
                    <span>+ <%= pe.event.decorate.formatted_budget_reserve_change %></span>
                  <% else %>
                    <span>- <%= pe.event.decorate.formatted_budget_reserve_change %></span>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% if pe.potential_increase_of_satisfaction %>
                  <span class="tag <%= "is-success" if outcome == "positive" %>"><%= PlayEvent.name_of_potential(pe.potential_increase_of_satisfaction.to_i) %></span>
                <% end %>
                <% if pe.potential_decrease_of_satisfaction %>
                  <span class="tag <%= "is-danger" if outcome == "negative" %>"><%= PlayEvent.name_of_potential(pe.potential_decrease_of_satisfaction.to_i) %></span>
                <% end %>
              </td>
              <td>
                <%= pe.event.title %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="box mb-5">
        <p class="has-text-centered"><strong>Zmiany budżetu:</strong></p>
        <div class="table-container budget-table-container">
          <table class="table is-fullwidth is-mobile-stack" style="border-collapse: separate; border-spacing: 0 6px;">
            <thead>
            <tr class="has-text-centered">
              <th class="has-text-centered"><strong>Zgłaszający</strong></th>
              <th class="has-text-centered"><strong>Nazwa</strong></th>
              <th class="has-text-centered"><strong>Czy wdrożono</strong></th>
              <th class="has-text-centered"><strong>Zmiana</strong></th>
              <th class="has-text-centered"><strong>Zagłosowało za</strong></th>
              <th class="has-text-centered"><strong>Zagłosowało przeciw</strong></th>
            </tr>
            </thead>
            <% @play.game_budget_changes.each do |budget_change| %>
              <tbody class="color-background-on-hover">
              <tr style="padding-top: 6px; padding-bottom: 6px;">
                <td class="has-text-centered">
                  <%= link_to profile_path(budget_change.user), data: { turbo: false } do %>
                    <%= budget_change.user.name %>
                  <% end %>
                </td>
                <td class="has-text-centered"><strong><%= budget_change.name %></strong></td>
                <td class="has-text-centered">
                  <% if budget_change.is_votable %>
                    <p>Aktywna</p>
                  <% else %>
                    <% if budget_change.was_implement? %>
                      <%= icon_tag("hand-thumb-up", options: { class: "menu-icon is-success" }) %> Wdrożono
                    <% else %>
                      <%= icon_tag("hand-thumb-down", options: { class: "menu-icon is-danger" }) %> Nie wdrożono
                    <% end %>
                  <% end %>
                </td>
                <td class="is-flex is-vcentered is-justify-content-center">
                  <% if budget_change.is_adding %>
                    <%= icon_tag("plus-circle", options: { class: "is-success" }) %>
                  <% else %>
                    <%= icon_tag("minus-circle", options: { class: "is-danger" }) %>
                  <% end %>
                  <span class="ml-1"><%= budget_change.decorate.formatted_value %></span>
                </td>
                <td class="has-text-centered">
                  <p title="<%= budget_change.votes_favor_names %>"><%= budget_change.votes_favor_count %></p></td>
                <td class="has-text-centered">
                  <p title="<%= budget_change.votes_against_names %>"><%= budget_change.votes_against_count %></p></td>
              </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
      <% if current_user.is_super_admin? %>
        <div class="box mb-5">
          <% if @play.chat %>
            <% if @play.chat.messages.any? %>
              <%= render @play.chat.messages.order(:created_at), chat: @play.chat %>
            <% else %>
              <p>Brak wiadomości</p>
            <% end %>
          <% else %>
            <p>Gra nie ma chatu</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
