<%= render 'shared/admins' do %>
  <section class="section">
    <h2 class="title is-5 has-text-centered">
      Tabela rozgrywek
    </h2>
    <p class="has-text-centered">
      <%= link_to admin_archived_games_path, class: "button is-light" do %>
        <%= icon_tag("archive-box", options: { class: "menu-icon" }) %>Zakończone rozgrywki
      <% end %>
    </p>
    <div class="container">
      <table style="width: 100%; border-collapse: separate; border-spacing: 0 6px;">
        <tr>
          <td>Id</td>
          <td>Gracze</td>
          <td>Obecny miesiąc</td>
          <td>Zadowolenie społeczne</td>
          <td>Rezerwa budżetowa</td>
        </tr>
        <% @plays.each do |play| %>
          <tbody class="color-background-on-hover">
          <tr>
            <td>
              <%= play.id %>
            </td>
            <td>
              <% play.users.each do |u| %>
                <p><%= link_to admin_user_path(u) do %><%= u.name %><% end %></p>
              <% end %>
            </td>
            <td class="is-flex is-vcentered">
              <%= play.name_of_current_month %>
            </td>
            <td>
              <%= play.social_satisfaction %>%
            </td>
            <td>
              <%= play.decorate.formatted_budget_reserve %>
            </td>
          </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </section>
<% end %>
