<%= render 'shared/admins' do %>
  <section class="section">
    <h2 class="title is-5 has-text-centered">
      Ustawienia
    </h2>
    <div class="container">
      <%= form_with model: @settings, url: admin_update_settings_path, method: :patch, local: true do |f| %>
        <%= render 'shared/wysiwyg', form: f, title: "Regulamin", field_name: :regulations, value: @settings.regulations %>

        <%= render 'shared/wysiwyg', form: f, title: "Przetwarzanie danych osobowych", field_name: :information_on_the_processing_of_personal_data, value: @settings.information_on_the_processing_of_personal_data %>

        <div class="field mt-4">
          <div class="control">
            <%= f.submit "Zapisz zmiany", class: "button is-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
