<%= render 'shared/admins' do %>
  <section class="section">
    <h2 class="title is-5 has-text-centered">
      Zgłoszenia do turnieju
    </h2>
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <%= button_to admin_tournament_registrations_path,
                        method: :get,
                        params: { status: "await_approve" },
                        class: "button #{ "is-success" if @status == "await_approve" }" do %>
            Do zatwierdzenia
          <% end %>
        </div>
        <div class="column is-4">
          <%= button_to admin_tournament_registrations_path,
                        method: :get,
                        params: { status: "await_parent" },
                        class: "button #{ "is-success" if @status == "await_parent" }" do %>
            Czekające na zgodę rodzica
          <% end %>
        </div>
        <div class="column is-4">
          <%= button_to admin_tournament_registrations_path,
                        method: :get,
                        params: { status: "approved" },
                        class: "button #{ "is-success" if @status == "approved" }" do %>
            Zatwierdzone
          <% end %>
        </div>
      </div>
      <div class="table-container">
        <table class="table is-fullwidth is-striped is-hoverable" style="border-collapse: separate; border-spacing: 0 6px;">
          <thead>
          <tr>
            <th>Email gracza</th>
            <th>Imię i nazwisko gracza</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @registrations.each do |r| %>
            <tr class="color-background-on-hover">
              <td>
                <%= link_to admin_user_path(r.user) do %>
                  <%= r.email %>
                <% end %>
              </td>
              <td>
                <%= link_to profile_path(r.user) do %>
                  <%= r.user.first_name %> <%= r.user.last_name %>
                <% end %>
              </td>
              <td>
                <%= button_to admin_tournament_registration_path(id: r.id),
                              method: :get,
                              class: "button" do %>
                  <%= icon_tag("eye", options: { class: "menu-icon" }) %> Szczegóły
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
<% end %>
