<%= render 'shared/admins' do %>
  <section class="section">
    <h2 class="title is-5 has-text-centered">
      Tabela użytkowników
    </h2>
    <div class="container">

      <div class="table-container is-hidden-touch">
        <table class="table is-fullwidth is-striped is-hoverable" style="border-collapse: separate; border-spacing: 0 6px;">
          <thead>
          <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Email</th>
            <th>Ilość gier</th>
            <th>Data utworzenia</th>
            <th>Ostatnio widziany</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr class="color-background-on-hover">
              <td>
                <%= link_to admin_user_path(user) do %>
                  <%= user.id %>
                <% end %>
              </td>
              <td>
                <%= link_to profile_path(user) do %>
                  <%= user.name %>
                <% end %>
              </td>
              <td class="is-flex is-vcentered">
                <% if user.confirmed? %>
                  <%= icon_tag("check-circle", options: { class: "is-success mr-1" }) %>
                <% end %>
                <%= user.email %>
              </td>
              <td><%= user.plays.count %></td>
              <td><%= user.created_at&.strftime("%d-%m-%Y %H:%M:%S") %></td>
              <td><%= user.last_seen_at&.strftime("%d-%m-%Y %H:%M:%S") %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div class="is-hidden-desktop">
        <% @users.each do |user| %>
          <div class="box mb-4 color-background-on-hover">
            <p><strong>Id:</strong>
              <%= link_to admin_user_path(user) do %>
                <%= user.id %>
              <% end %>
            </p>

            <p><strong>Nazwa:</strong>
              <%= link_to profile_path(user) do %>
                <%= user.name %>
              <% end %>
            </p>

            <p class="is-flex is-vcentered"><strong>Email:</strong>&nbsp;
              <% if user.confirmed? %>
                <%= icon_tag("check-circle", options: { class: "is-success mr-1" }) %>
              <% end %>
              <%= user.email %>
            </p>

            <p><strong>Ilość gier:</strong> <%= user.plays.count %></p>
            <p><strong>Data utworzenia:</strong> <%= user.created_at&.strftime("%d-%m-%Y %H:%M:%S") %></p>
            <p><strong>Ostatnio widziany:</strong> <%= user.last_seen_at&.strftime("%d-%m-%Y %H:%M:%S") %></p>
          </div>
        <% end %>
      </div>

    </div>
  </section>
<% end %>
