<%= render 'shared/plays' do %>
  <h2 class="title is-5 has-text-centered">Rezerwa budżetowa: <%= @play.decorate.formatted_budget_reserve %></h2>
  <% if @active_budget_changes.any? %>
    <table style="width: 100%; border-collapse: separate; border-spacing: 0 6px;">
      <tr class="has-text-centered">
        <td><strong>Nazwa</strong></td>
        <td class="has-text-centered"><strong>Zmiana</strong></td>
        <td class="has-text-centered"><strong>Zagłosowało za</strong></td>
        <td class="has-text-centered"><strong>Zagłosowało przeciw</strong></td>
        <td class="has-text-centered" colspan="2"><strong>Zagłosuj</strong></td>
      </tr>
      <% @active_budget_changes.each do |budget_change| %>
        <tbody class="color-background-on-hover">
        <tr style="padding-top: 6px; padding-bottom: 6px;">
          <td>
            <strong><%= budget_change.name %></strong>
          </td>
          <td class="is-flex is-vcentered is-justify-content-center">
            <% if budget_change.is_adding %>
              <%= icon_tag("plus-circle", options: { class: "is-success" }) %>
            <% else %>
              <%= icon_tag("minus-circle", options: { class: "is-danger" }) %>
            <% end %>
            <%= budget_change.decorate.formatted_value %>
          </td>
          <td class="has-text-centered">
            <%= budget_change.votes_favor_count %>
          </td>
          <td class="has-text-centered">
            <%= budget_change.votes_against_count %>
          </td>
          <td class="has-text-centered">
            <%= button_to play_budget_vote_path(@play),
                          method: :post,
                          params: {
                            game_budget_change_id: budget_change.id,
                            vote: true
                          },
                          class: "button is-success is-small" do %>
              <%= icon_tag("hand-thumb-up", options: { class: "menu-icon" }) %> Za
            <% end %>
          </td>
          <td class="has-text-centered">
            <%= button_to play_budget_vote_path(@play),
                          method: :post,
                          params: {
                            game_budget_change_id: budget_change.id,
                            vote: false
                          },
                          class: "button is-danger is-small" do %>
              <%= icon_tag("hand-thumb-down", options: { class: "menu-icon" }) %> Przeciw
            <% end %>
          </td>
        </tr>
        </tbody>
      <% end %>
    </table>
  <% end %>
  <% if @un_active_budget_changes.any? %>
    <h2 class="title is-5 has-text-centered">Historia zmian</h2>
    <table style="width: 100%; border-collapse: separate; border-spacing: 0 6px;">
      <tr class="has-text-centered">
        <td><strong>Nazwa</strong></td>
        <td class="has-text-centered"><strong>Zmiana</strong></td>
        <td class="has-text-centered"><strong>Czy wdrożono</strong></td>
        <td class="has-text-centered"><strong>Zagłosowało za</strong></td>
        <td class="has-text-centered"><strong>Zagłosowało przeciw</strong></td>
      </tr>
      <% @un_active_budget_changes.each do |budget_change| %>
        <tbody class="color-background-on-hover">
        <tr style="padding-top: 6px; padding-bottom: 6px;">
          <td>
            <strong><%= budget_change.name %></strong>
          </td>
          <td class="has-text-centered">
            <% if budget_change.was_implement? %>
              <%= icon_tag("hand-thumb-up", options: { class: "menu-icon is-success" }) %> Wdrożono
            <% else %>
              <%= icon_tag("hand-thumb-down", options: { class: "menu-icon is-danger" }) %> Nie wdrożono
            <% end %>
          </td>
          <td class="is-flex is-vcentered is-justify-content-center">
            <% if budget_change.is_adding %>
              <%= icon_tag("plus-circle", options: { class: "is-success" }) %>
            <% else %>
              <%= icon_tag("minus-circle", options: { class: "is-danger" }) %>
            <% end %>
            <%= budget_change.decorate.formatted_value %>
          </td>
          <td class="has-text-centered">
            <%= budget_change.votes_favor_count %>
          </td>
          <td class="has-text-centered">
            <%= budget_change.votes_against_count %>
          </td>
        </tbody>
      <% end %>
    </table>
  <% end %>
<% end %>
