<%= render 'shared/plays' do %>
  <div class="columns">
    <div class="column is-6" id="map" data-controller="map" data-src="<%= asset_path("pl.svg") %>" data-map-target="map" data-regions="<%= Play::REGIONS %>" data-game-id="<%= @play.id %>">
      <div data-map-target="wrapper"></div>
    </div>
    <div class="column is-6">
      <% if @region_name %>
        <p>Wiadomości z <%= @region_name %></p>
      <% else %>
        <p>Wiadomości z Polski</p>
      <% end %>
      <% @play_events.each do |play_event| %>
        <h2 class="title"><%= play_event.event.title %></h2>
        <% description = play_event.event.description
           description = play_event.event.positive_description if play_event.outcome == "positive"
           description = play_event.event.negative_description if play_event.outcome == "negative" %>
        <p class="<%= "is-success" if play_event.outcome == "positive" %><%= "is-danger" if play_event.outcome == "negative" %>"><%= description %></p>
      <% end %>
    </div>
  </div>
<% end %>
