<%= render 'shared/plays' do %>
  <div class="columns is-variable is-0 is-multiline is-flex-direction-column-mobile" data-controller="map">
    <div class="column is-12-mobile is-6-desktop" id="map" data-src="<%= asset_path("pl.svg") %>" data-map-target="map" data-regions="<%= Play::REGIONS %>" data-game-id="<%= @play.id %>" data-active-id="<%= params[:map_id] %>" data-regions-satisfaction="<%= @play.regions_satisfaction %>">
      <h2 class="title is-5 has-text-centered mt-6">
        Zadowolenie społeczne <%= @play.social_satisfaction.round(2).to_s.gsub('.', ',') %>%
      </h2>
      <h2 class="title is-5 has-text-centered">Rezerwa budżetowa: <%= @play.decorate.formatted_budget_reserve %></h2>
      <% unless params["map_id"].blank? %>
        <p class="has-text-centered">
          <%= link_to play_path(@play), class: "button is-light mt-2 mb-2" do %>
            <%= icon_tag("arrow-left", options: { class: "menu-icon" }) %> Newsy z całego kraju
          <% end %>
        </p>
      <% end %>
      <div data-map-target="wrapper"></div>
      <div id="tooltip" class="tooltip"></div>
    </div>
    <div class="column is-12-mobile is-6-desktop" style="overflow: auto;" data-map-target="newsColumn">
      <div class="mt-6 mb-2">
        <% if @region_name %>
          <p class="has-text-centered is-size-4">Wiadomości z <%= @region_name %></p>
        <% else %>
          <p class="has-text-centered is-size-4">Wiadomości z Polski</p>
        <% end %>
      </div>
      <div>
        <% @play_events.each do |play_event| %>
          <% outcome = play_event.outcome %>
          <% icon_name = outcome == "positive" ? "face-smile" : outcome == "negative" ? "face-frown" : "face-meh" %>
          <% icon_class = outcome == "positive" ? "has-text-success" : outcome == "negative" ? "has-text-danger" : "has-text-grey" %>
          <% description = case outcome
                           when "positive" then play_event.event.positive_description
                           when "negative" then play_event.event.negative_description
                           else play_event.event.description
                           end
          %>
          <% title = play_event.event.title %>
          <% title = play_event.event.negative_title if outcome == "negative" && play_event.event.negative_title? %>
          <% title = play_event.event.positive_title if outcome == "positive" && play_event.event.positive_title? %>

          <div class="box mb-5" style="font-family: 'Merriweather', Georgia, serif; <%= "background-color: rgba(128, 128, 128, 0.1);" if outcome %>" data-map-target="event" data-region-id="<%= play_event.region_id if params["map_id"].blank? %>">
            <div class="is-size-7 is-flex is-justify-content-space-between">
              <% if play_event.event.budget_change != 0 %>
                <% if play_event.event.is_adding_to_budget %>
                  <span>Wymagana kwota: <%= play_event.event.decorate.formatted_budget_change %></span>
                <% else %>
                  <span>Możliwa oszczędność: <%= play_event.event.decorate.formatted_budget_change %></span>
                <% end %>
              <% end %>
              <% if play_event.event.budget_reserve_change != 0 %>
                <% if play_event.event.need_increase_budget_reserve %>
                  <span>Wpływ do rezerwy: <%= play_event.event.decorate.formatted_budget_reserve_change %></span>
                <% else %>
                  <span>Potrącono z rezerwy: <%= play_event.event.decorate.formatted_budget_reserve_change %></span>
                <% end %>
              <% end %>
              <% if play_event.potential_increase_of_satisfaction %>
                <span class="tag is-success is-light"><%= PlayEvent.name_of_potential(play_event.potential_increase_of_satisfaction.to_i) %></span>
              <% end %>
              <% if play_event.potential_decrease_of_satisfaction %>
                <span class="tag is-danger is-light"><%= PlayEvent.name_of_potential(play_event.potential_decrease_of_satisfaction.to_i) %></span>
              <% end %>
              <span class="has-text-grey"><%= play_event.decorate.name_of_month %></span>
            </div>
            <div class="is-flex is-align-items-flex-start is-justify-content-space-between">
              <h2 class="title is-5 mb-2 mr-4" style="word-break: break-word; flex: 1 1 auto;">
                <%= title %>
              </h2>
              <span class="icon <%= icon_class %> ml-2" style="flex-shrink: 0;"><%= icon_tag(icon_name) %></span>
            </div>
            <div class="content">
              <%= raw rich_text_sanitize(description).gsub("\n", "<br>") %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
