<div class="columns is-gapless" data-controller="fullscreen menu" data-fullscreen-target="board">
  <button class="mobile-menu-button button is-white is-hidden-desktop"
          data-action="menu#toggle"
          data-menu-target="button">
  <span class="icon" data-menu-target="openIcon">
    <%= icon_tag("bars-3") %>
  </span>
    <span class="icon is-hidden" data-menu-target="closeIcon">
    <%= icon_tag("x-mark") %>
  </span>
  </button>

  <aside class="side-menu column is-2 has-background-light p-4"
         data-menu-target="menu"
         data-fullscreen-target="sidebar">

    <p class="subtitle is-5 has-text-centered">
      <strong>Panel administracji</strong>
    </p>

    <ul class="menu-list">
      <li>
        <a class="button is-light is-flex is-vcentered" data-action="fullscreen#toggle" data-fullscreen-target="minButton" style="white-space: normal;">
          <%= icon_tag("arrows-pointing-in", options: { class: "menu-icon" }) %>Mały ekran
        </a>
        <a class="button is-light is-flex is-vcentered" data-action="fullscreen#toggle" data-fullscreen-target="maxButton" style="white-space: normal;">
          <%= icon_tag("arrows-pointing-out", options: { class: "menu-icon" }) %>Pełny ekran
        </a>
      </li>
      <li>
        <%= link_to admin_path, class: "button is-light is-flex is-vcentered" do %>
          <%= icon_tag("home", options: { class: "menu-icon" }) %>Statystyki
        <% end %>
      </li>
      <li>
        <%= link_to admin_users_path, class: "button is-light is-flex is-vcentered" do %>
          <%= icon_tag("user-group", options: { class: "menu-icon" }) %>Użytkownicy
        <% end %>
      </li>
      <li>
        <%= link_to admin_settings_path, class: "button is-light is-flex is-vcentered" do %>
          <%= icon_tag("cog-6-tooth", options: { class: "menu-icon" }) %>Ustawienia
        <% end %>
      </li>
      <li>
        <%= link_to admin_games_path, class: "button is-light is-flex is-vcentered" do %>
          <%= icon_tag("banknotes", options: { class: "menu-icon" }) %>Rozgrywki
        <% end %>
      </li>
      <li>
        <%= link_to admin_events_path, class: "button is-light is-flex is-vcentered" do %>
          <%= icon_tag("bolt", options: { class: "menu-icon" }) %>Wydarzenia
        <% end %>
      </li>
      <li>
        <%= link_to admin_changes_path, class: "button is-light is-flex is-vcentered" do %>
          <%= icon_tag("arrows-right-left", options: { class: "menu-icon" }) %>Zmiany
        <% end %>
      </li>
      <li>
        <%= link_to admin_contacts_path, class: "button is-light is-flex is-vcentered" do %>
          <%= icon_tag("chat-bubble-bottom-center-text", options: { class: "menu-icon" }) %>Feedback
        <% end %>
      </li>
    </ul>
  </aside>

  <main class="column is-10 p-5" style="display: flex; flex-direction: column;" data-fullscreen-target="main">
    <section class="section" data-fullscreen-target="scrolled">
      <%= yield %>
    </section>
    <% if @chat %>
      <section class="section is-paddingless is-shapeless mt-auto" style="border-top: #f5f5f5 4px solid;">
        <%= render 'messages/chat' %>
      </section>
    <% end %>
  </main>
</div>
