<div id="gameboard" class="columns is-gapless" data-controller="fullscreen menu" data-fullscreen-target="board">
  <button class="mobile-menu-button button is-white is-hidden-desktop"
          data-action="menu#toggle"
          data-menu-target="button">
    <span class="icon" data-menu-target="openIcon">
      <%= icon_tag("bars-3") %>
    </span>
    <span class="icon is-hidden" data-menu-target="closeIcon">
      <%= icon_tag("x-mark") %>
    </span>
  </button>

  <aside id="game-menu"
         class="side-menu column is-2 has-background-light p-4"
         data-menu-target="menu"
         data-fullscreen-target="sidebar">

    <p class="subtitle is-5 has-text-centered mt-4 mb-4">
      <%= @play.name_of_current_month %>
    </p>

    <ul class="menu-list">
      <li>
        <a class="button is-light is-flex is-vcentered resize-button" data-action="fullscreen#toggle" data-fullscreen-target="minButton" style="white-space: normal;">
          <%= icon_tag("arrows-pointing-in", options: { class: "menu-icon" }) %>Mały ekran
        </a>
        <a class="button is-light is-flex is-vcentered resize-button" data-action="fullscreen#toggle" data-fullscreen-target="maxButton" style="white-space: normal;">
          <%= icon_tag("arrows-pointing-out", options: { class: "menu-icon" }) %>Pełny ekran
        </a>
      </li>
      <li>
        <%= link_to play_path(@play), class: "button is-light is-flex is-vcentered" do %>
          <%= icon_tag("home", options: { class: "menu-icon" }) %>Newsy
        <% end %>
      </li>
      <li>
        <%= link_to play_expenses_path(@play), class: "button is-light is-flex is-vcentered" do %>
          <%= icon_tag("clipboard-document-list", options: { class: "menu-icon" }) %>Stan budżetu
        <% end %>
      </li>
      <li>
        <%= link_to play_budget_changes_path(@play), class: "button is-light is-flex is-vcentered" do %>
          <%= icon_tag("hand-raised", options: { class: "menu-icon" }) %>Propozycje zmian budżetu
        <% end %>
      </li>
      <li>
        <%= link_to play_budgets_descriptions_path(@play), class: "button is-light is-flex is-vcentered" do %>
          <%= icon_tag("question-mark-circle", options: { class: "menu-icon" }) %>Kategorie budżetowe
        <% end %>
      </li>
      <li>
        <%= link_to play_players_path(@play), class: "button is-light is-flex is-vcentered" do %>
          <%= icon_tag("user-group", options: { class: "menu-icon" }) %> Lista graczy
        <% end %>
      </li>
      <li>
        <%= link_to play_how_to_play_path(@play), class: "button is-light is-flex is-vcentered" do %>
          <%= icon_tag("book-open", options: { class: "menu-icon" }) %> Jak grać?
        <% end %>
      </li>

      <% if current_user.allowed_to_proceed_game?(@play) %>
        <li>
          <%= button_to play_proceed_path(play_id: @play.id),
                        method: :patch,
                        class: "button is-light is-flex is-vcentered is-fullwidth" do %>
            <%= icon_tag("clock", options: { class: "menu-icon" }) %> Następny miesiąc
          <% end %>
        </li>
      <% end %>

      <% if current_user.allowed_to_change_settings_to_game?(@play) %>
        <li>
          <%= link_to play_settings_path(play_id: @play.id),
                      class: "button is-light is-flex is-vcentered is-fullwidth" do %>
            <%= icon_tag("cog-6-tooth", options: { class: "menu-icon" }) %> Ustawienia gry
          <% end %>
        </li>
      <% end %>

      <% if current_user.allowed_to_archive_game?(@play) %>
        <li>
          <%= button_to play_archive_path(play_id: @play.id),
                        method: :delete,
                        class: "button is-light is-flex is-vcentered is-fullwidth",
                        data: {
                          turbo: false,
                          controller: "confirm",
                          confirm_target: "confirm",
                          message: "Czy na pewno chcesz zakończyć grę?",
                          action: "confirm#confirm"
                        } do %>
            <%= icon_tag("trash", options: { class: "menu-icon" }) %> Zakończ grę
          <% end %>
        </li>
      <% end %>

      <% if current_user.is_admin? %>
        <li>
          <%= link_to play_preview_events_path(play_id: @play.id),
                      class: "button is-light is-flex is-vcentered is-fullwidth" do %>
            <%= icon_tag("eye", options: { class: "menu-icon" }) %> Podgląd wydarzeń
          <% end %>
        </li>
        <li>
          <%= button_to play_preview_events_path(play_id: @play.id),
                        method: :get,
                        params: { outcome: "positive" },
                        class: "button is-light is-flex is-vcentered is-fullwidth" do %>
            <%= icon_tag("eye", options: { class: "menu-icon" }) %> Podgląd pozytywnych
          <% end %>
        </li>
        <li>
          <%= button_to play_preview_events_path(play_id: @play.id),
                        method: :get,
                        params: { outcome: "negative" },
                        class: "button is-light is-flex is-vcentered is-fullwidth" do %>
            <%= icon_tag("eye", options: { class: "menu-icon" }) %> Podgląd negatywnych
          <% end %>
        </li>
      <% end %>
    </ul>

    <turbo-frame id="game_online_users"
                 src="<%= play_online_users_path(play_id: @play.id) %>"
                 data-controller="reload"
                 data-reload-interval-value="5000">
      Loading online users…
    </turbo-frame>
  </aside>

  <main class="column is-10 p-3 mb-2-mobile"
        style="display: flex; flex-direction: column; overflow-x: auto; min-width: 0;"
        data-fullscreen-target="main">
    <section class="section is-paddingless" data-fullscreen-target="scrolled" id="inner-window">
      <%= yield %>
    </section>
    <% if @chat %>
      <section class="section is-paddingless is-shapeless mt-auto" style="border-top: #f5f5f5 4px solid;">
        <%= render 'messages/chat' %>
      </section>
    <% end %>
  </main>
</div>
