<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6 has-text-centered">
        <img src="<%= asset_path("logo.png") %>" style="max-height: 100vh"/>
      </div>
      <div class="column is-6 has-text-centered">
        <img src="<%= asset_path("plakat_glowna.jpg") %>" style="max-height: 100vh"/>
      </div>
    </div>
    <div class="content">
      <%= raw @content %>
    </div>

    <div class="content">
      <turbo-frame id="online_users" src="<%= online_users_path %>" data-controller="reload" data-reload-interval-value="5000">
        Loading online users…
      </turbo-frame>
    </div>

    <% if current_user&.is_admin || current_user&.is_tester %>
      <p class="mb-2 mt-2">Chat dla administracji i testerów:</p>
      <%= render 'messages/chat' %>
    <% end %>
  </div>
</section>