<nav class="navbar is-light" data-controller="navbar">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item has-text-weight-bold" do %>
        <img src="<%= asset_path("logo_2.png") %>" />
      <% end %>

      <a role="button"
         class="navbar-burger"
         data-action="click->navbar#toggle"
         data-navbar-target="burger"
         aria-label="menu"
         aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" data-navbar-target="menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <%= link_to pages_tournament_path, class: "button is-light" do %>
            <%= icon_tag("fire", options: { class: "menu-icon" }) %> Turniej
          <% end %>
        </div>
        <% if logged_in? %>
          <div class="navbar-item">
            <%= link_to game_home_path, class: "button is-light" do %>
              <%= icon_tag("banknotes", options: { class: "menu-icon" }) %> Gra
            <% end %>
          </div>
        <% end %>
        <div class="navbar-item">
          <%= link_to pages_how_to_play_path, class: "button is-light" do %>
            <%= icon_tag("book-open", options: { class: "menu-icon" }) %> Jak grać?
          <% end %>
        </div>
        <div class="navbar-item">
          <%= link_to pages_ranking_path, class: "button is-light" do %>
            <%= icon_tag("trophy", options: { class: "menu-icon" }) %> Ranking
          <% end %>
        </div>
        <% if logged_in? %>
          <div class="navbar-item">
            <%= link_to profile_path(current_user), class: "button is-light" do %>
              <%= render 'shared/avatar', user: current_user, size: 24, classes: 'menu-icon' %> Profil
            <% end %>
          </div>
          <% if current_user.is_admin %>
            <div class="navbar-item">
              <%= link_to admin_path, class: "button is-light" do %>
                <%= icon_tag("cog", options: { class: "menu-icon" }) %> Admin
              <% end %>
            </div>
          <% end %>
          <% if current_user.allowed_to_test? %>
            <div class="navbar-item">
              <%= link_to changes_path, class: "button is-light" do %>
                <%= icon_tag("arrows-right-left", options: { class: "menu-icon" }) %> Zmiany
              <% end %>
            </div>
          <% end %>
          <div class="navbar-item">
            <%= button_to logout_path, method: :delete, class: "button is-light" do %>
              <%= icon_tag("arrow-left-start-on-rectangle", options: { class: "menu-icon" }) %> Wyloguj
            <% end %>
          </div>
        <% else %>
          <div class="navbar-item">
            <%= link_to new_user_path, class: "button is-light" do %>
              <%= icon_tag("identification", options: { class: "menu-icon" }) %> Rejestracja
            <% end %>
          </div>
          <div class="navbar-item">
            <%= link_to login_path, class: "button is-light" do %>
              <%= icon_tag("arrow-left-end-on-rectangle", options: { class: "menu-icon" }) %> Logowanie
            <% end %>
          </div>
        <% end %>
        <div class="navbar-item">
          <%= link_to pages_contact_path, class: "button is-light" do %>
            <%= icon_tag("phone", options: { class: "menu-icon" }) %> Kontakt
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
