<nav class="navbar is-light mb-4" data-controller="navbar">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "MyApp", root_path, class: "navbar-item has-text-weight-bold" %>

      <!-- Burger -->
      <a role="button"
         class="navbar-burger"
         data-navbar-target="burger"
         aria-label="menu"
         aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" data-navbar-target="menu">
      <div class="navbar-end">
        <% if logged_in? %>
          <div class="navbar-item">Hello, <%= current_user.name %></div>
          <div class="navbar-item">
            <%= link_to "Gra", game_home_path, class: "button is-light" %>
          </div>
          <% if current_user.is_admin %>
            <div class="navbar-item">
              <%= link_to "Admin", admin_path, class: "button is-light" %>
            </div>
          <% end %>
          <div class="navbar-item">
            <%= button_to "Logout", logout_path, method: :delete, class: "button is-light" %>
          </div>
        <% else %>
          <div class="navbar-item">
            <%= link_to "Rejestracja", new_user_path, class: "button is-light" %>
          </div>
          <div class="navbar-item">
            <%= link_to "Logowanie", login_path, class: "button is-light" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>